/* Taille */
:host {
  min-height: 350px;
  min-width: 250px;
  max-height: 350px;
  max-width: 250px;
  font-family: 'roboto';
}
:host > card-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 8px 3px rgba(0, 0, 0, 0.3);
  background: #fff;
  /* Other */
  overflow: hidden;
  transition: 0.3s ease-out 0s;
}
:host > card-content:empty {
  background: rgba(0, 0, 0, 0.4);
}
:host > card-content:not(:empty):hover {
  transform: translate(0, -10px);
  box-shadow: 0 10px 8px 3px rgba(0, 0, 0, 0.3);
}
:host > card-content > card-image {
  display: block;
  width: 100%;
}
:host > card-content > card-image > a {
  display: block;
  width: 100%;
  color: rgb(0, 0, 0);
  opacity: 0.8;
}
:host > card-content > card-image > a > img {
  width: 100%;
}
:host > card-content > card-body {
  flex-grow: 1;
  display: block;
  padding: 0 15px;
}
:host > card-content > card-body > card-title {
  display: block;
}
:host > card-content > card-body > card-title > a {
  display: block;
  text-decoration: none;
}
:host > card-content > card-body > card-title > a > h3 {
  font-size: 22px;
  line-height: calc(22px + (22px / 2 * 1.5));
  margin: 0;
}
:host > card-content > card-body > card-text {
  display: block;
}
:host > card-content > card-body > card-text > p {
  text-align: left;
  color: rgb(0, 0, 0);
  opacity: 0.5;
}
:host > card-content > card-button {
  padding: 0 0 20px 15px;
}
:host > card-content > card-button > button {
  /* Taille */
  width: fit-content;
  border: none;
  border-radius: 5px;
  /* Position */
  padding: 4px 16px;
  /* Texte */
  font-size: 12px;
  line-height: 2;
  /* Couleur */
  outline: none;
  box-shadow: 0 8px 1em -0.2em rgba(0, 0, 0, 0.3);
  background: #32b0ef;
  color: #fff;
  text-shadow: 0 1px #63b6e0;
}
:host > card-content > card-button > button:hover {
  cursor: pointer;
  background: #2d9dd4;
}
:host > card-content > card-button > button:focus {
  background: #2789b9;
}